# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
*.pyc
*.pyo
*.pyd

# Variables d'environnement — NE JAMAIS POUSSER SUR GITHUB
backend/.env
frontend/.env.local
.env

# Next.js
frontend/.next/
frontend/node_modules/
frontend/out/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/settings.json

ngrok.exe
*.exe